    <div>
        <form>
        <p class="heder">Register</p>
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input type="email" [formControl]="EmailCtrl" matInput>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input type="text" [formControl]="UserNameCtrl" matInput>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Age</mat-label>
            <input type="number" [formControl]="AgeCtrl" matInput>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input type="password" [formControl]="PasswordCtrl" matInput>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input type="password" [formControl]="ConfirmPasswordCtrl" matInput>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Gender</mat-label>
            <input type="text" [formControl]="GenderCtrl" matInput>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>City</mat-label>
            <input type="text" [formControl]="CityCtrl" matInput>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Country</mat-label>
            <input type="text" [formControl]="CountryCtrl" matInput>
        </mat-form-field>

        <button (click)="register()" mat-raised-button [disabled]="registerFg.invalid">Register</button>
        <a class="router-login" routerLink="/account/login" href="">I have Account</a>
    </form>

    <p>
        {{userResponse?.userName}}
        {{userResponse?.age}}
        {{error}}
    </p>
</div>