div {
    // background: palegoldenrod;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .heder {
        font-size: xx-large;
        margin: 1rem;
    }

    form {
        // background: gray;
        // background-color: aquamarine;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 6px;
        padding: 1rem;
        margin: 1rem;
        border: solid 4px black;
        border-radius: 8px;
    }

    .router-login {
        // text-decoration-line: none;
        margin: 1rem;
    }
}