mat-toolbar {
    background-color: rgb(11, 113, 209);
    display: flex;
    justify-content: space-between;

    .left {
        .brand {
            color: beige;
            text-decoration: none;
        }
    }

    .right {
        display: flex;
        gap: 6px;

        .menu-button {
            // background-color: black;
            font-size: x-large;
            box-shadow: 2px 2px 2px rgb(0, 0, 0);
            border-radius: 50%;

            img {
                padding-top: 6px;
                height: 100%;
                width: 100%;
                border-radius: 50%;
            }
        }
    }
}

::ng-deep .mat-menu {
    .user-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 2rem;

        * {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .profile-info {
            border-radius: 50%;
            box-shadow: 3px 3px 3px rgb(144, 144, 144);


            img {
                height: 8rem;
                width: 8rem;
                border-radius: 50%;

            }
        }
    }

    mat-list {
        padding: 0;
        margin: 0;

        mat-list-item {
            padding: 0;
        }

        .menu-items {
            display: flex;
            align-items: center;
            gap: 5px;
            line-height: 47px;
            padding-left: 1rem;
            padding-right: 5rem;

            &:hover {
                background-color: rgb(255, 176, 255);
                cursor: pointer;
            }
        }
    }

    .logout {
        display: flex;
        justify-content: center;
        padding: 1rem;
    }
}