mat-toolbar {
    background-color: rgb(11, 113, 209);
    display: flex;
    justify-content: space-between;

    .left {
        .brand {
            color: beige;
            text-decoration: none;
        }
    }

    .right {
        display: flex;
        gap: 6px;

        .menu-button {
            // background-color: black;
            font-size: xx-large;
            box-shadow: 3px 2px 5px rgb(0, 0, 0);
            border-radius: 50%;

            img {
                height: 100%;
                width: 100%;
                border-radius: 50%;
            }
        }
    }
}

::ng-deep .mat-menu {
    .user-info {
        // background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: rem;
        // text-emphasis-color: red;
        // text-decoration-color: brown;
    }

    * {
        // background-color: aqua;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .profile-info {
        // background-color: brown;
        border-radius: 50%;
        box-shadow: 3px 3px 3px rgb(144, 144, 144);

        img {
            height: 6rem;
            width: 6rem;
            border-radius: 50%;
        }
    }

    mat-list {
        padding: 0;
        margin: 0;
        // background-color: cadetblue;

        mat-list-item {
            // background-color: chartreuse;
            padding: 0;
        }

        .menu-items {
            // background-color: burlywood;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;
            line-height: 47px;
            padding-left: 1rem;
            padding-right: 5rem;

            &:hover {
                background-color: rgb(174, 23, 174);
                cursor: pointer;
            }
        }
    }

    .logout {
        // background-color: aqua;
        display: flex;
        padding: 0.5px;
    }
}