<mat-toolbar>
    <section class="left">
        <a class="brand" routerLink="/">
            <mat-icon>directions_bike</mat-icon>
            Math Finder
        </a>
    </section>
    <section class="right">
        @if (accountServis.loggedInUserSig(); as user) {
        <button mat-mini-fab [mat-menu-trigger-for]="appMenu" class="menu-button">
            @if (user.profilePhotoUrl) {
            <img src="{{apiUrl + user.profilePhotoUrl}}" alt="">
            }
            @else {
            <span>{{user.userName[0] | titlecase}}</span>
            }
        </button>
        <mat-menu class="mat-menu" #appMenu>
            <div class="user-info">
                <div class="profile-info">
                    <img src="images/3003035.png" alt="{{user.userName[0]}}">
                </div>
                <div>
                    <span>{{user.userName}}</span>
                </div>
            </div>
            <mat-divider></mat-divider>

            <mat-list>
                <mat-list-item>
                    <div class="menu-items">
                        <mat-icon>edit_note</mat-icon>
                        Edit profile
                    </div>
                </mat-list-item>
                <mat-list-item>
                    <div class="menu-items">
                        <mat-icon>flaky</mat-icon>
                        All members
                    </div>
                </mat-list-item>
                <mat-list-item>
                    <div class="menu-items">
                        <mat-icon>assignment_returned</mat-icon>
                        Messages
                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <div class="logout">
                    <button mat-raised-button (click)="logout()" color="warn">Logout</button>
                </div>
            </mat-list>
        </mat-menu>
        }
        @else {
        <button routerLink="/account/register" mat-raised-button>Register</button>
        <button routerLink="/account/login" mat-flat-button>Login</button>
        }
    </section>
</mat-toolbar>
<!-- <p>navbar works!</p> -->