<mat-toolbar>
    <section class="left">
        <a class="brand" routerLink="/">
            <mat-icon>directions_bike</mat-icon>
            Math Finder
        </a>
    </section>
    <section class="right">
        @if (accountServis.) {}
        <button mat-raised-button (click)="logout()" color="warn">Logout</button>

        <button routerLink="/account/register" mat-raised-button>Register</button>
        <button routerLink="/account/login" mat-flat-button>Login</button>
    </section>
</mat-toolbar>
<!-- <p>navbar works!</p> -->