// .item-1 {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     padding: 0.9rem;

//     .heder {
//         font-size: xx-large;
//         margin: 1rem;
//     }

//     form {
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         padding: 2rem;
//         gap: 1rem;
//         border: 4px solid black;
//         border-radius: 12px;
//     }
// }

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;

    .item-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        width: 25rem;

        border: 1px solid rgb(172, 172, 172);
        border-radius: 1rem;

        padding: 1rem;

        // background-color: aqua;
    }

    mat-form-field {
        min-width: 20rem;
    }

    p{
        color: red;
    }
}