.item-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.9rem;

    .heder {
        font-size: xx-large;
        margin: 1rem;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
        gap: 1rem;
        border: 4px solid black;
        border-radius: 12px;
    }
}