<div class="item-1">
    <form>
        <p>login works!</p>
        <mat-form-field>
            <mat-label>User Name</mat-label>
            <input type="text" [formControl]="UserNameCtrl" matInput>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Password</mat-label>
            <input type="password" [formControl]="PasswordCtrl" matInput>
        </mat-form-field>

        <button routerLink='members/member-card' (click)="login()" mat-raised-button [disabled]="loginFg.invalid">
            Login
        </button>

    </form>
</div>